body{
    background-color: black;
    color: #ffffff;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.bio-detail {
    font-weight: 300;
    color: #999999;
    font-size: 20px;
    line-height: 1.8;
}
.main-content {
    margin :0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.social-icons{
    margin: 30px 0;

}
.social-icons .twitter{
    padding: 0 20px;

}
.about-me{
    display: flex;
    gap: 10%;
    justify-content: space-between;
    width: 100%;
}
.about-title,
.about-content {
    width: 50%
}
.big-about-title{
    font-weight: 700;
    font-size: 3rem;
    color: #f7d7c8;
    font-family: Merriweather, serif !important;
}
.sample-header{
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 1.125rem;
}
}
.text-bold{
    font-size: 25px;
    font-weight: 900;
}
.bold-text{
    font-size: 20px;
    font-weight: 500;
}
.chat-now{
    display: flex;
    align-items: center;
    gap: 1%;
}
.margin{
    margin: 8% 0;
}
.one{
    font-size: 50px;
    font-weight: 900;
}
.design-par{
    font-weight: 900;
    font-size: 50px;
}
.portifolio{
    font-size: 30px;
    font-weight: 900;
    text-align: center ;
}
.image{
    margin-bottom: 10px;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    height: 300px;
    border-radius: 30%;
}
.learn-more-btn {
    border: 2px solid #f7d7c8;
    padding: 20px 40px;
    background-color: #000000;
    color: #f7d7c8;
    margin: 60px auto;
    font-weight: 700;
    font-size: 1.25rem;
}
.learn-more-btn:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #000000;
    cursor: pointer;
}
.writeup-area{
    display: flex;
    gap: 10%;
    justify-content: space-between;
    width: 100;
    padding: 20px;
    margin-top: 30px;
}
.writeup-area, 
.page-about{
    width: 100%;
}
.page-about{
    font-size: 20px;
    font-weight: 500;
}
.about-i{
    font-size: 20px;
    font-weight: 500;
}
.signature-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.new-me{
    font-size: 50px;
    font-weight: 900;
    color: #f7d7c8;
}
.pink{
    color: #f7d7c8;
}
.pink-color{
    color: #f7d7c8;
}
.white-girl{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.loc{
    color:#f7d7c8;
}
.line-ok{
    border: #f7d7c8;
    width: 20%;
    margin: 10px auto;
    border-style: solid;
    position: relative;
    box-sizing: border-box;
    display: block;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
.article-img{
    font-weight: 500;
    font-size: 20px;  
}
.bio{
    font-weight: 900;
    font-size: 80px;
}
.info-section{
    margin: 30px;
    padding: 20px;
}